{% extends 'base.html' %}
{% block title %}student||textbook{% endblock %}
{% block content %}

  <header class="bg-gradient-to-r from-purple-700 to-indigo-700 text-white py-10">
    <h1 class="text-3xl font-semibold text-center">Welcome to SMK ORKID DESA Student Textbook Page</h1>
    <a href="{% url 'homeapp:student_index' %}?botId={{ bot_id }}" class="block w-1/4 mx-auto mt-5 bg-indigo-500 hover:bg-indigo-600 text-center text-white font-semibold rounded-md py-3">
      Go to Student Dashboard
    </a>
  </header>

  {% if messages %}
    <div class="bg-green-200 p-4 text-center text-green-800 my-6">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="container mx-auto py-10 px-6 text-gray-800">
    <div class="w-2/3 mx-auto rounded-lg bg-white shadow-md p-6">
      <h2 class="text-2xl font-semibold mb-4">User Textbooks</h2>
      <ul>
        {% for entry in textbooks_with_classname %}
          <li class="py-2 border-b border-gray-200">{{ entry.textbook.book_title }} - {{ entry.class_name }}</li>
          <!-- Display other textbook details or class information as needed -->
        {% endfor %}
      </ul>
    </div>
  </div>  

{% endblock %}
