{% extends 'base.html' %}
{% block title %}student||payment{% endblock %}
{% block content %}

  <header class="bg-gradient-to-r from-blue-900 to-indigo-900 text-white py-10">
    <h1 class="text-3xl font-semibold text-center">Welcome to SMK ORKID DESA Student Payment Page</h1>
    <a href="{% url 'homeapp:student_index' %}?botId={{ bot_id }}" class="block w-1/4 mx-auto mt-5 bg-indigo-500 hover:bg-indigo-600 text-center text-white font-semibold rounded-md py-3">
      Go to Student Dashboard
    </a>
  </header>

  {% if messages %}
    <div class="bg-green-200 p-4 text-center text-green-800 my-6">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="container mx-auto py-10 px-6 text-gray-800">
    <div class="w-2/3 mx-auto rounded-lg bg-white shadow-md p-6">
      <h2 class="text-2xl font-semibold mb-4">User Payments</h2>
      <ul>
        {% for payment in user_payments %}
          <li class="py-4 border-b border-gray-200">
            <p class="font-semibold">Payment ID: {{ payment.id }}</p>
            <p>Amount: ${{ payment.paying_amount }}</p>
            <p>Date: {{ payment.application_date }}</p>
            <p>Status: 
              <span class="{% if payment.is_pending %}text-yellow-600{% elif payment.is_approved %}text-green-600{% elif payment.is_rejected %}text-red-600{% else %}text-gray-600{% endif %}">
                {% if payment.is_pending %}
                    Pending
                {% elif payment.is_approved %}
                    Approved
                {% elif payment.is_rejected %}
                    Rejected
                {% else %}
                    Status not available
                {% endif %}
              </span>
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>  

{% endblock %}
