{% extends 'base.html' %}
{% block title %}student||payment{% endblock %}
{% block content %}

  <header class="bg-gradient-to-r from-blue-900 to-indigo-900 text-white py-10">
    <h1 class="text-3xl font-semibold text-center">Welcome to SMK ORKID DESA Student Payment Application Page</h1>
    <a href="{% url 'homeapp:student_index' %}?botId={{ bot_id }}" class="block w-1/4 mx-auto mt-5 bg-indigo-500 hover:bg-indigo-600 text-center text-white font-semibold rounded-md py-3">
      Go to Student Dashboard
    </a>
  </header>

  {% if messages %}
    <div class="bg-green-200 p-4 text-center text-green-800 my-6">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="container mx-auto py-10 px-6 text-gray-800">
    <div class="w-2/3 mx-auto rounded-lg bg-white shadow-md p-6">
      <h2 class="text-2xl font-semibold mb-4">Apply for Payment</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
          <label for="id_paying_amount" class="block text-sm font-medium text-gray-700">Payment Amount</label>
          <input type="number" name="paying_amount" id="id_paying_amount" class="border p-2 w-full rounded" placeholder="Enter Payment Amount">
        </div>
        <div class="mb-4">
          <label for="id_payslip" class="block text-sm font-medium text-gray-700">Payment Receipt</label>
          <input type="file" name="payslip" id="id_payslip" class="p-2 w-full" accept="image/png, image/jpeg, .pdf">
        </div>
        <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out">Submit</button>
      </form>
    </div>
  </div>  

{% endblock %}
