{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

{% if messages %}
    <div class="bg-cyan-950 p-2 text-center text-white font-sans">
        <ul>
            {% for message in messages %}
                <li class="text-base font-bold">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="container pt-5 min-w-full min-h-full text-white rounded-xl flex flex-col items-start justify-center font-sans px-20">
    {% if textbooks_by_class %}
        {% for class_name, textbooks in textbooks_by_class.items %}
            <div class="mb-auto w-full">
                <div class="flex items-center justify-between mb-4 border-b-2 border-transparent bg-cyan-800 cursor-pointer rounded-md p-3" onclick="toggleTable('{{ class_name }}')">
                    <span class="text-white font-semibold text-lg">{{ class_name }}</span>
                    <svg class="w-6 h-6 text-gray-100 transform transition-transform" id="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill="currentColor" d="M10 18a.997.997 0 01-.707-.293l-8-8a.999.999 0 111.414-1.414L10 15.586l6.293-6.293a.999.999 0 111.414 1.414l-7.999 8A.997.997 0 0110 18z"/>
                    </svg>
                </div>                

                <table id="{{ class_name }}" class="hidden w-full mb-5 border-collapse border border-gray-400 rounded-md">
                    <!-- Table headers -->
                    <thead class="bg-cyan-950 text-white">
                        <tr>
                            <th class="px-4 py-2 text-left">Serial No.</th>
                            <th class="px-4 py-2 text-left">Book Title</th>
                            <th class="px-4 py-2 text-center">Book ID</th>
                            <th class="px-4 py-2 text-center">Classname</th>
                            <th class="px-4 py-2 text-center">Total Quantity</th>
                            <th class="px-4 py-2 text-center">Available Quantity</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 text-left text-black">
                        {% for textbook in textbooks %}
                            <tr class="{% cycle 'bg-white' 'bg-gray-300' %} {% cycle 'even' 'odd' %} hover:bg-gray-100 hover:font-semibold transition duration-300 ease-in-out"> 
                                <td class="px-4 py-2">{{ forloop.counter }}</td>
                                <td class="px-4 py-2">{{ textbook.book_title }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.book_id }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.classname }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.quantity_total }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.available_quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>No textbooks available.</p>
    {% endif %}
</div>

<script>
    function toggleTable(className) {
        const table = document.getElementById(className);
        table.classList.toggle('hidden');
    }
</script>
</div>
{% endblock %}
