{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

{% if messages %}
    <div class="bg-cyan-950 p-2 text-center text-white font-sans">
        <ul>
            {% for message in messages %}
                <li class="text-base font-bold">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="container pt-5 min-w-full min-h-full text-white rounded-xl flex flex-col items-start justify-center font-sans ">
    {% if textbooks_by_class %}
        {% for class_name, textbooks in textbooks_by_class.items %}
            <div class="mb-auto w-full">
                <button class="w-full focus:outline-none text-2xl text-center text-white font-bold p-2 mb-3 hover:border-transparent bg-cyan-950 hover:bg-cyan-800 transition duration-300 ease-in-out" onclick="toggleTable('{{ class_name }}')">{{ class_name }}</button>
                <table id="{{ class_name }}" class="hidden w-full mb-5 border-collapse border border-gray-400 rounded-md">
                    <!-- Table headers -->
                    <thead class="bg-cyan-950 text-white">
                        <tr>
                            <th class="px-4 py-2 text-left">Serial No.</th>
                            <th class="px-4 py-2 text-left">Book Title</th>
                            <th class="px-4 py-2 text-center">Book ID</th>
                            <th class="px-4 py-2 text-center">Classname</th>
                            <th class="px-4 py-2 text-center">Total Quantity</th>
                            <th class="px-4 py-2 text-center">Available Quantity</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 text-left text-black">
                        {% for textbook in textbooks %}
                            <tr class="{% cycle 'bg-white' 'bg-gray-300' %} {% cycle 'even' 'odd' %} hover:bg-gray-100 hover:font-semibold transition duration-300 ease-in-out"> 
                                <td class="px-4 py-2">{{ forloop.counter }}</td>
                                <td class="px-4 py-2">{{ textbook.book_title }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.book_id }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.classname }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.quantity_total }}</td>
                                <td class="px-4 py-2 text-center">{{ textbook.available_quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>No textbooks available.</p>
    {% endif %}
</div>

<script>
    function toggleTable(className) {
        const table = document.getElementById(className);
        table.classList.toggle('hidden');
    }
</script>
</div>
{% endblock %}
