{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/school_logo.png' %}">
    <script src="https://kit.fontawesome.com/fa133b6a54.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex bg-gradient-to-t from-stone-500 to-stone-100  no-scrollbar overflow-y-auto h-full">
    <!-- Mobile Menu Toggle -->
    <div class="md:hidden fixed h-full z-50">
        <button id="menu-toggle" class="p-2">
            <i id="menu-icon-hamburger" class="fa-solid fa-bars text-3xl"></i>
            <i id="menu-icon-cross" class="fas fa-window-close text-3xl hidden"></i>
        </button>
    </div>
    <!-- Left Panel (Mobile) -->
    <aside id="mobile-menu" class="hidden md:hidden w-2/5 bg-stone-900 p-10 fixed h-full z-30">
        <nav>
            <ul class="space-y-4">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:index' %}">Admin Dashboard</a>
                        </li>
                    {% elif request.user.is_student %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:student_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:student_index' %}">Student Dashboard</a>
                        </li>
                    {% elif request.user.is_library %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:library_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:library_index' %}">Library Dashboard</a>
                        </li>
                    {% elif request.user.is_finance %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:finance_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:finance_index' %}">Finance Dashboard</a>
                        </li>
                    {% endif %}
                    <li><a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:userprofile' %}">Profile</a></li>
                    <li><a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:logout' %}">Logout</a></li>
                    <!-- Other navigation links for the left panel -->
                {% endif %}
            </ul>
        </nav>
    </aside>

    <!-- Left Panel (Desktop) -->
    <aside class="hidden md:block w-1/5 bg-stone-900 p-10 fixed h-full z-30">
        <nav>
            <ul class="space-y-4">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:index' %}">Admin Dashboard</a>
                        </li>
                    {% elif request.user.is_student %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:student_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:student_index' %}">Student Dashboard</a>
                        </li>
                    {% elif request.user.is_library %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:library_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:library_index' %}">Library Dashboard</a>
                        </li>
                    {% elif request.user.is_finance %}
                        <li class="border-b border-white mb-10">
                            <a href="{% url 'homeapp:finance_index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo"></a>
                        </li>
                        <li>
                            <a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:finance_index' %}">Finance Dashboard</a>
                        </li>
                    {% endif %}
                    <li><a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:userprofile' %}">Profile</a></li>
                    <li><a class="block text-xl text-stone-100 hover:text-white hover:border-b hover:border-white transition duration-300 ease-in-out transform hover:scale-105" href="{% url 'homeapp:logout' %}">Logout</a></li>
                    <!-- Other navigation links for the left panel -->
                {% endif %}
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="w-4/5 p-5 ml-auto">
        <div class="container mx-auto">
            {% block content %}{% endblock %}
        </div>

        <footer class="bg-stone-900 py-10 mt-10 rounded shadow-md">
            <p class="font-semibold text-white text-center">&copy; 2023 | FTRdevs | All rights reserved.</p>
        </footer>
    </main>
    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIconHamburger = document.getElementById('menu-icon-hamburger');
        const menuIconCross = document.getElementById('menu-icon-cross');

        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            menuIconHamburger.classList.toggle('hidden');
            menuIconCross.classList.toggle('hidden');
        });
    </script>
</body>
</html>