{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

{% if messages %}
    <div class="bg-cyan-950 p-2 text-center text-white font-sans">
        <ul>
            {% for message in messages %}
                <li class="text-base font-bold">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="container mx-auto text-white font-sans py-2">
    <!-- User Details Section -->
    <div class="bg-white rounded-lg shadow-lg">
        <div class="bg-cyan-950 text-white px-6 py-3 flex flex-col items-start justify-center">
            <h1 class="text-xl font-bold text-center">My Information</h1>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-white py-2">
                <thead class="bg-gray-200 text-black uppercase text-xs font-semibold">
                    {% comment %} <tr>
                        <th class="px-6 py-3 text-left">Full Name</th>
                        <th class="px-6 py-3 text-left">Username</th>
                        <th class="px-6 py-3 text-left">Email</th>
                        <th class="px-6 py-3 text-left">Role</th>
                    </tr> {% endcomment %}
                </thead>
                <tbody class="text-gray-800">
                    {% if request.user.is_staff%}
                        <tr class="transition-colors">
                            <td class="px-6 py-3">Full Name: <br> <b>{{ user.fullname }}<b></td>
                            <td class="px-6 py-3">Username: <br> <b>{{ user.username }}<b></td>
                            <td class="px-6 py-3">Email: <br> <b>{{ user.email }}<b></td>
                            <td class="px-6 py-3">Role: <br> <b>Staff<b></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Display buttons for each class -->
    <form method="post" class="flex justify-between items-center py-5">
        {% csrf_token %}
        {% for class_data in all_classes %}
            {% if class_data.classname|lower != "graduate" %}
                <button type="submit" name="class_id" value="{{ class_data.id }}" class="w-full bg-cyan-950 hover:bg-cyan-800 text-white hover:font-bold font-semibold p-4 rounded m-2">
                    Class: {{ class_data.classname }}
                </button>
            {% endif %}
        {% endfor %}
    </form>
</div>

<!-- Bottom Section for Forms and Content -->
<div class="container mx-auto min-h-full text-white rounded-xl flex flex-col font-sans">

    {% if selected_class %}
        <!-- Top Section: all sections and students -->
        <div class="w-full flex items-center justify-between space-x-4">
            <!-- Left Section: Display all sections -->
            <div class="border p-4 mb-4 rounded-lg w-full bg-cyan-950">
                <h2 class="text-2xl font-bold text-white text-center p-2 rounded">All Sections of {{selected_class}}</h2>

                <form method="post" class="flex items-center space-x-4">
                    {% csrf_token %}
                    <select name="section_name" class="w-full bg-[white] hover:bg-gray-300 hover:font-bold text-[black] rounded border p-2">
                        <option value="" selected disabled>Select Section</option>
                        {% for class_data in class_students_textbooks %}
                            <option value="{{ class_data.section }}">{{ class_data.section }}</option>
                        {% endfor %}
                    </select>

                    <input type="hidden" name="class_section_id" value="{{ selected_class.id }}">
                    <button type="submit" name="class_section_form" class="w-full bg-[white] hover:bg-gray-200 hover:font-bold text-[black] font-semibold py-2 px-4 rounded">Filter Students</button>
                </form>
            </div>
    
            <!-- Right Section: Display all students -->
            {% if selected_section %}
                <div class="border p-4 mb-4 rounded-lg w-full bg-cyan-950">
                    <h2 class="text-2xl font-bold text-white text-center p-2 rounded">All Students of {{selected_section}} in {{selected_class}}</h2>

                    <form method="post" class="flex items-center space-x-4">
                        {% csrf_token %}
                        <select name="student_id" id="student_select" class="w-full bg-[white] hover:bg-gray-300 hover:font-bold text-[black] rounded border p-2">
                            <option value="" selected disabled>Select Student</option>
                            {% for class_data in class_students_textbooks %}
                                {% for student_data in class_data.class_students %}
                                    <option value="{{ student_data.student.id }}">
                                        {% if student_data.student.username.fullname %}
                                            {{ student_data.student.username.fullname }}
                                        {% else %}
                                            {{ student_data.student.username.username }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>

                        <input type="hidden" name="selected_class_id" value="{{ selected_class.id }}">
                        <input type="hidden" name="selected_section_id" value="{{ selected_section }}">
                        <button type="submit" name="section_student_form" class="w-full bg-[white] hover:bg-gray-200 hover:font-bold text-[black] font-semibold py-2 px-4 rounded">Filter Student</button>
                    </form>
                </div>
            {% endif %}
        </div>

        <!-- bottom Section: Display Books with status -->
        <div class="w-full flex flex-col items-center font-sans">
            {% if selected_student %}
                {% for class_data in class_students_textbooks %}
                        {% for student_data in class_data.class_students %}
                            {% if student_data.student.id == selected_student.id %}
                                <div class=" border p-4 mb-4 rounded w-full flex flex-col items-center ">
                                    <div class="flex items-center justify-center">
                                        <h3 class="text-2xl bg-cyan-950 font-bold text-white text-center p-6 m-4 rounded-xl">
                                            {% if student_data.student.username.fullname %}
                                                {{ student_data.student.username.fullname }}
                                            {% else %}
                                                {{ student_data.student.username.username }}
                                            {% endif %}
                                        </h3>
                                        <a href="{% url 'homeapp:student_report_pdf' student_id=student_data.student.student_id class_name=selected_class %}">
                                            <i class="fa-solid fa-download text-4xl text-black"></i>
                                        </a>
                                    </div>
                                    
                                    <div id="textbooks_{{ student_data.student.id }}" class="w-full px-5 flex flex-col items-center justify-center">
                                        <table class="w-full mb-5 border-collapse border text-left border-gray-400 rounded-md">
                                            <thead class="bg-cyan-950 text-white">
                                                <tr>
                                                    <th class="px-4 py-2">Book Title</th>
                                                    <th class="px-4 py-2">Status/Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 text-left text-black">
                                                {% for textbook_info in student_data.textbooks %}
                                                    {% if textbook_info.textbook.classname == selected_class %}
                                                    <tr class="{% cycle 'bg-white' 'bg-gray-300' %} {% cycle 'even' 'odd' %} hover:bg-gray-100 hover:font-semibold transition duration-300 ease-in-out"> 
                                                        {% include 'update_status.html' %}
                                                    </tr>
                                                    {% endif %}  
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                            {% endif %}      
                        {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <!-- ... Display charts for all classes ... -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
            {% for chart_data in chart_data_for_classes %}
                {% if chart_data.counts.class_name|lower != "graduate" %}
                    <div class="chart-container w-full p-4 bg-white rounded-md shadow-md mb-4">
                        <div class="flex items-center justify-between">
                            <div class="text-lg font-semibold text-black">{{ chart_data.counts.class_name }}</div>
                            <!-- <div class="chart-content">
                                {{ chart_data.chart_div | safe }}
                            </div> -->
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4">
                            <div class="bg-blue-500 text-white p-4 rounded-md">
                                <i class="fas fa-arrow-up text-lg"></i>
                                <p class="text-sm uppercase font-bold mb-2">Returned</p>
                                <p class="text-2xl">{{ chart_data.counts.returned }}</p>
                            </div>
                            <div class="bg-green-500 text-white p-4 rounded-md">
                                <i class="fas fa-check-circle text-lg"></i>
                                <p class="text-sm uppercase font-bold mb-2">Collected</p>
                                <p class="text-2xl">{{ chart_data.counts.collected }}</p>
                            </div>
                            <div class="bg-yellow-500 text-white p-4 rounded-md">
                                <i class="fas fa-question-circle text-lg"></i>
                                <p class="text-sm uppercase font-bold mb-2">Not Collected</p>
                                <p class="text-2xl">{{ chart_data.counts.not_collected }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
