{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if messages %}
        <div class="bg-cyan-950 p-2 text-center text-white">
            <ul>
                {% for message in messages %}
                <li class="font-bold">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
{% endif %}

<div class="container mx-auto p-10 bg-cyan-950 min-h-screen text-white flex justify-center items-center rounded-md">
    
    <div class="max-w-4xl w-full bg-white rounded-lg shadow-md p-8">
        <!-- User Details Section -->
        <div class="bg-white rounded-lg shadow-lg">
            <div class="bg-cyan-950 text-white px-6 py-4 flex flex-col items-start justify-center">
                <h1 class="text-xl font-bold text-center">My Information</h1>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-white">
                    <thead class="bg-gray-200 text-black uppercase text-xs font-semibold">
                        {% comment %} <tr>
                            <th class="px-6 py-3 text-left">Full Name</th>
                            <th class="px-6 py-3 text-left">Username</th>
                            <th class="px-6 py-3 text-left">Email</th>
                            <th class="px-6 py-3 text-left">Role</th>
                        </tr> {% endcomment %}
                    </thead>
                    <tbody class="text-gray-800">
                        {% if request.user.is_staff and request.user.is_superuser  %}
                            <tr class="transition-colors">
                                <td class="px-6 py-4">Full Name: <b>{{ user.fullname }}<b></td>
                                <td class="px-6 py-4">Username: <b>{{ user.username }}<b></td>
                                <td class="px-6 py-4">Email: <b>{{ user.email }}<b></td>
                                <td class="px-6 py-4">Role: <b>Admin<b></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold text-cyan-800">Welcome, <span class="font-bold">{{ user }}</span>!</h1>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <a href="{% url 'admin:index' %}" class="col-span-2 bg-emerald-700 hover:bg-emerald-800 text-white font-bold py-6 rounded-md text-center flex justify-center items-center space-x-2">
                <span class="font-bold">Go to Admin Panel</span>
                <i class="fa-solid fa-user-tie"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}
