{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/school_logo.png' %}">
    <script src="https://kit.fontawesome.com/fa133b6a54.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gradient-to-t from-stone-400 to-stone-200 min-h-screen">

    <header class="bg-stone-900 py-5">
        <a href="{% url 'homeapp:index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo" class="mx-auto h-20"></a>
        <h1 class="text-2xl font-semibold text-white text-center py-5">SMK ORKID DESA student management system</h1>
    </header>

    {% if messages %}
        <div class="bg-green-200 p-2 text-center text-stone-800">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <main class="flex flex-col md:flex-row justify-center items-center mt-8">
        <div class="max-w-md bg-stone-900 text-white rounded-lg shadow-xl p-8 w-auto md:w-full md:mr-10 mb-4">
            <h3 class="text-2xl font-semibold text-center mb-6">Login Here</h3>
            <form method="post">
                {% csrf_token %}
                {{ loginform.as_p }}
                <button id="login" type="submit" class="flex-grow w-full bg-stone-500 hover:bg-stone-700 text-white font-bold py-4 px-4 mt-4 rounded transition duration-300 ease-in-out transform">Log In</button>
              </form>
              <a href="{% url 'password_reset' %}" class="block mt-4 text-center text-gray-400 hover:text-white transition duration-200 ease-in-out">Forgot password? Click here.</a>
            
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_show_password').change(function() {
                var passwordField = $('#id_password');
                if ($(this).is(':checked')) {
                    passwordField.attr('type', 'text');
                } else {
                    passwordField.attr('type', 'password');
                }
            });
        });
    </script>
</body>
</html>
