{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/school_logo.png' %}">
    <script src="https://kit.fontawesome.com/fa133b6a54.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        label {
        font-weight: bold;
        color: #fff;
        display: block;
        }
        input[type="email"]{
            color: black;
            border: 1px solid #000;
            padding: 0.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
            width: 100%;
        }
      </style>
</head>
<body class="bg-gradient-to-t from-gray-400 to-gray-500 no-scrollbar overflow-y-auto min-h-screen">

    <header class="bg-slate-900 py-5">
        <a href="{% url 'homeapp:index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo" class="mx-auto h-20"></a>
        
    </header>

    <main class="flex flex-col md:flex-row justify-center items-center mt-8">
        <div class="max-w-md bg-slate-900 text-white rounded-lg shadow-xl p-8 w-auto md:w-full md:mr-10 mb-4">
            <h3 class="text-2xl font-semibold text-center mb-6">Password reset</h3>
            <p class="text-sm font-semibold text-center mb-6">
                <i>
                    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                </i>
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="flex-grow w-full bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-4 px-4 mt-4 rounded transition duration-300 ease-in-out transform">Submit</button>
            </form>            
            <a href="{% url 'homeapp:login' %}" class="block mt-4 text-center text-white hover:text-gray-500 transition duration-200 ease-in-out">Cancel</a>
        </div>
    </main>
</body>
</html>
