{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/school_logo.png' %}">
    <script src="https://kit.fontawesome.com/fa133b6a54.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gradient-to-t from-orange-50 to-orange-300 no-scrollbar overflow-y-auto min-h-screen">

    <header class="bg-orange-900 py-5">
        <a href="{% url 'homeapp:index' %}"><img src="{% static 'images/school_logo.png' %}" alt="logo" class="mx-auto h-20"></a>
        
    </header>

    <main class="flex flex-col md:flex-row justify-center items-center mt-8">
        <div class="max-w-md bg-orange-900 text-white rounded-lg shadow-xl p-8 w-auto md:w-full md:mr-10 mb-4">
            <h3 class="text-2xl font-semibold text-center mb-6">Password reset complete</h3>
            <p class="text-sm font-semibold text-center mb-6">
                <i>
                    Your password has been set. You may go ahead and log in now.
                </i>
            </p>
            <a href="{% url 'homeapp:login' %}" class="block mt-4 text-center text-orange-400 hover:text-white transition duration-200 ease-in-out">Login</a>
        </div>
    </main>
</body>
</html>
