{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}

{% if messages %}
    <div class="bg-emerald-600 p-2 text-center text-white font-sans">
        <ul>
            {% for message in messages %}
                <li class="text-base font-bold">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="container mx-auto p-10 text-white font-sans"> 

    <!-- Textbook Management Section -->
    <h1 class="text-3xl text-white font-bold py-2 border-b-4 border-white">
        <span class="align-middle ml-2 block">Textbooks Management</span>
    </h1>
  
    <!-- Display buttons for each class -->
    <form method="post" class="flex justify-between items-center">
        {% csrf_token %}
        {% for class_data in all_classes %}
            <button type="submit" name="class_id" value="{{ class_data.id }}" class="w-full bg-slate-800 hover:bg-slate-700 text-white font-bold p-4 rounded m-2">
                Class: {{ class_data.classname }}
            </button>
        {% endfor %}
    </form>
</div>

<!-- Bottom Section for Forms and Content -->
<div class="container mx-auto p-10 bg-slate-900 min-h-screen text-white rounded-md flex font-sans">

    {% if selected_class %}
        <!-- Left Section: all sections and students -->
        <div class="w-2/6 flex flex-col items-center">
            <!-- Top Section: Display all sections -->
                <div class="border p-4 mb-4 rounded w-full">
                    <h2 class="text-3xl font-bold text-white text-center p-2 rounded">All Sections of {{selected_class}}</h2>
                    <form method="post" class="flex items-center space-x-4">
                        {% csrf_token %}
                        <select name="section_name" class="w-full bg-gray-500 rounded border p-2">
                            <option value="" selected disabled>Select Section</option>
                            {% for class_data in class_students_textbooks %}
                                <option value="{{ class_data.section }}">{{ class_data.section }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="class_section_id" value="{{ selected_class.id }}">
                        <button type="submit" name="class_section_form" class="w-full bg-gray-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">Filter Students</button>
                    </form>
                </div>
    
            <!-- Bottom Section: Display all students -->
            {% if selected_section %}
                <div class="border p-4 mb-4 rounded w-full">
                    <h2 class="text-3xl font-bold text-white text-center p-2 rounded">All Students of {{selected_section}} in {{selected_class}}</h2>
                    {% for class_data in class_students_textbooks %}
                        {% for student_data in class_data.class_students %}
                            <form method="post" class="space-y-5">
                                {% csrf_token %}
                                <input type="hidden" name="selected_class_id" value="{{ selected_class.id }}">
                                <input type="hidden" name="selected_section_id" value="{{ selected_section }}">
                                <input type="hidden" name="student_id" value="{{ student_data.student.id }}">
                                <button type="submit" name="section_student_form" class="bg-gray-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
                                    {% if student_data.student.username.fullname %}
                                        {{ student_data.student.username.fullname }}
                                    {% else %}
                                        {{ student_data.student.username.username }}
                                    {% endif %}
                                </button>                                
                            </form>
                        {% endfor %}
                    {% endfor %} 
                </div>
            {% endif %}
        </div>

        <!-- Right Section: Display Books with status -->
        <div class="w-4/6 ml-20 flex flex-col items-center font-sans">
            {% if selected_student %}
                {% for class_data in class_students_textbooks %}
                        {% for student_data in class_data.class_students %}
                            {% if student_data.student.id == selected_student.id %}
                                <div class="border p-4 mb-4 rounded w-full flex flex-col items-center">
                                    <h3 class="text-3xl font-bold text-white text-center p-4 m-4 rounded">
                                        {% if student_data.student.username.fullname %}
                                            {{ student_data.student.username.fullname }}
                                        {% else %}
                                            {{ student_data.student.username.username }}
                                        {% endif %}
                                    </h3>
                                    <div id="textbooks_{{ student_data.student.id }}" class="w-full flex flex-col items-center justify-center">
                                        <table class="w-fit mb-5 border-collapse border text-left border-gray-400 rounded-md">
                                            <thead class="bg-slate-500 text-white">
                                                <tr>
                                                    <th class="px-4 py-2">Book Title</th>
                                                    <th class="px-4 py-2">Status</th>
                                                    <th class="px-4 py-2">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 text-left">
                                                {% for textbook_info in student_data.textbooks %}
                                                    {% if textbook_info.textbook.classname == selected_class %}
                                                    <tr class="{% cycle 'bg-slate-800' 'bg-slate-900' %} hover:bg-slate-700 transition duration-300 ease-in-out"> 
                                                        <form method="post" class="flex items-center justify-between p-4">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="selected_class_id" value="{{ selected_class.id }}">
                                                                <input type="hidden" name="selected_section_id" value="{{ selected_section }}">
                                                                <input type="hidden" name="student_id" value="{{ student_data.student.id }}">
                                                                <input type="hidden" name="textbook_id" value="{{ textbook_info.textbook.id }}">

                                                                <td class="px-4 py-2">{{ textbook_info.textbook.book_title }}</td>
                                                                <td class="px-4 py-2">
                                                                    <div class="flex items-center space-x-2">
                                                                        <input type="checkbox" id="collected_{{ textbook_info.textbook.id }}" name="collected" {% if textbook_info.status.collected %} checked {% endif %} onclick="uncheckOther('returned_{{ textbook_info.textbook.id }}')" class="form-checkbox h-4 w-4 text-indigo-600">
                                                                        <label for="collected_{{ textbook_info.textbook.id }}" class="text-sm font-medium">Collected</label>
                                                                        
                                                                        <input type="checkbox" id="returned_{{ textbook_info.textbook.id }}" name="returned" {% if textbook_info.status.returned %} checked {% endif %} onclick="uncheckOther('collected_{{ textbook_info.textbook.id }}')" class="form-checkbox h-4 w-4 text-indigo-600">
                                                                        <label for="returned_{{ textbook_info.textbook.id }}" class="text-sm font-medium">Returned</label>
                                                                    </div>
                                                                </td>
                                                                
                                                                <td class="px-4 py-2">
                                                                    <button type="submit" name="statusform" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">Update</button>
                                                                </td>
                                                            </form>
                                                        </tr>
                                                    {% endif %}  
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>                                    
                                </div>
                            {% endif %}      
                        {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <!-- ... Display charts for all classes ... -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
            {% for chart_data in chart_data_for_classes %}
                <div class="chart-container w-full text-black p-4 bg-gray-100 rounded-md">
                    <div class="chart-content">
                        {{ chart_data.chart_div | safe }}
                    </div>
                    <div class="text-center mt-3">
                        <p>Returned: {{ chart_data.counts.returned }}</p>
                        <p>Collected: {{ chart_data.counts.collected }}</p>
                        <p>Not Specified: {{ chart_data.counts.not_specified }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

    <script>
        function uncheckOther(checkboxId) {
            const otherCheckbox = document.getElementById(checkboxId);
            const currentCheckbox = document.activeElement;

            if (currentCheckbox.checked && otherCheckbox.checked) {
                otherCheckbox.checked = false;
            }
        }
    </script>

{% endblock %}
