{% extends 'base.html' %}
{% block title %}Student Home{% endblock %}
{% block content %}

<div class="container mx-auto text-white font-sans py-2"> 
    <!-- Student Details Section -->
    <div class="bg-white rounded-lg shadow-lg">
        <div class="bg-cyan-950 text-white px-6 py-3 flex flex-col items-start justify-center">
            <h1 class="text-xl font-bold text-center">My Information</h1>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-white py-2">
                <thead class="bg-gray-200 text-black uppercase text-xs font-semibold">
                    {% comment %} <tr>
                        <th class="px-6 py-3 text-left">Full Name</th>
                        <th class="px-6 py-3 text-left">Username</th>
                        <th class="px-6 py-3 text-left">Email</th>
                        <th class="px-6 py-3 text-left">IC Number</th>
                        <th class="px-6 py-3 text-left">Year of Studies</th>
                        <th class="px-6 py-3 text-left">Enrolled Class</th>
                    </tr> {% endcomment %}
                </thead>
                <tbody class="text-gray-800">
                    {% if student %}
                        <tr class="transition-colors">
                            <td class="px-6 py-4">Full Name: <b>{{ student.username.fullname }}<b></td>
                            <td class="px-6 py-4">Username: <b>{{ student.username.username }}<b></td>
                            <td class="px-6 py-4">Email: <b>{{ student.username.email }}<b></td>
                            <td class="px-6 py-4">IC Number: <b>{{ student.username.username }}<b></td>
                            <td class="px-6 py-4">Year of Studies : <b>{{ student.classname }}<b></td>
                            <td class="px-6 py-4">Enrolled Class: <b>{{ student.section }}<b></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% comment %} New {% endcomment %}
    <div>
    <!-- Display buttons for each class -->
    <form method="post" class="flex justify-between items-center py-5">
        {% csrf_token %}
        {% for class_data in all_classes %}
            <button type="submit" name="class_id" value="{{ class_data.id }}" class="w-full bg-cyan-950 hover:bg-cyan-800 text-white font-semibold p-4 rounded m-2">
                Class: {{ class_data.classname }}
            </button>
        {% endfor %}
    </form>
</div>

<div class="container mx-auto py-5 min-h-full text-black rounded-xl flex items-center justify-center">
    {% if textbooks_with_status %}
        <div class="overflow-x-auto">
            <table class="w-full mb-auto rounded-md">
                <thead class="bg-cyan-950 text-white">
                    <tr>
                        <th class="px-4 py-3">Serial No.</th>
                        <th class="px-4 py-3">Book Id</th>
                        <th class="px-4 py-3">Title</th>
                        <th class="px-4 py-3">Class</th>
                        <th class="px-4 py-3">Status</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-solid divide-gray-200 text-left">
                    {% for textbook in textbooks_with_status %}
                        <tr class="{% cycle 'bg-white' 'bg-gray-300' %} {% cycle 'even' 'odd' %} hover:bg-gray-100 hover:font-semibold transition duration-300 ease-in-out"> 
                            <td class="px-4 py-3">{{ forloop.counter }}</td>
                            <td class="px-4 py-3">{{ textbook.textbook.book_id }}</td>
                            <td class="px-4 py-3">{{ textbook.textbook.book_title }}</td>
                            <td class="px-4 py-3">{{ textbook.class_name }}</td>
                            <td class="px-4 py-3">
                                <span class="{% if textbook.status == 'Collected' %}text-green-500 font-semibold{% elif textbook.status == 'Returned' %}text-sky-500 font-semibold{% else %}text-rose-500 font-semibold{% endif %}">
                                    {{ textbook.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <!-- ... Display charts for all classes ... -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full rounded-xl">
            {% for chart_data in chart_data_for_classes %}
                <div class="chart-container w-full text-black p-4 bg-white rounded-2xl">
                    <div class="chart-content">
                        {{ chart_data.chart_div | safe }}
                    </div>
                    <div class="text-center mt-3">
                        <p>Returned: {{ chart_data.counts.returned }}</p>
                        <p>Collected: {{ chart_data.counts.collected }}</p>
                        <p>Not Specified: {{ chart_data.counts.not_specified }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
</div>

{% endblock %}
